{
  "extends": [
    "standard",
    "standard-react"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "React": true,
    "PropTypes": true,
    "styled": true
  }
}