{
  "extends": [
    "standard",
    "standard-react"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "React": true,
    "PropTypes": true,
    "styled": true
  },
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "16.4.0"
    },
    "propWrapperFunctions": [
      "forbidExtraProps"
    ]
  }
}