.root {
  color: #fff;
  background-color:#1f1f1f;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  padding-top: 15px;
  padding-bottom: 15px;
  flex-basis: 100%;
}

.row {
  min-height: 25vh;
}
