.jcsb {
  justify-content: space-between;
}
.form-control, .form-control:read-only {
  background-color: #fff;
}

@media (min-width: 576px) {
  .col-sm-2 {
    flex-basis: 17%;
    max-width: 17%;
  }
}
.root {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center
}