.root {
  color: #fff;
  border-top: 1px solid #777;
  background-color:#1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  padding-top: 10px;
  padding-bottom: 10px;
  flex-basis: 100%;
}

.space-icons svg {
  margin: auto 5px;
}