body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#root {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  flex-basis: 100%;
}

.page.E404 {
  display: flex;
}
