.nav__root {
  padding-left: 0;
  padding-right: 0;
  padding: .5rem 0 !important;
}

.nav__image {
  max-height: 48px;
}

.nav__root .ml-auto .nav-item a,
.nav__root .ml-auto .nav-item a:link {
  color: #fff;
}

.nav__root,
.nav__root a.navbar-brand {
  color: #fff;
}
